/* Colores */
$color-black: #000;
$color-white: #fff;

$colot-primary-10: #ffece5;
$color-primary: #eb5017;
$color-primary-50: #f56630;

$color-gray-10: #f9fafb;
$color-gray: #e4e7ec;
$color-gray-20: #e5e7eb;
$color-gray-40: #f0f2f5;
$color-gray-50: #f8f8f8;
$color-geray-30: #98a2b3;
$color-gray-70: #667185;

$color-blue-10: #344054;
$color-blue-20: #1d2739;
$color-blue: #162769;

$color-red-10: #aa2222;
$color-red: #ad3307;

$color-green-10: #e7f6ec;
$color-green: #036b26;

$color-text: #101928;
$colot-text-10: #8c94a6;

/* Fonts */
$font-size-h1: 2.25rem;

/* 36px */
$font-size-h2: 2rem;

/* 32px */
$font-size-h3: 1.75rem;

/* 28px */
$font-size-h4: 1.5rem;

/* 24px */
$font-size-h5: 1.25rem;

/* 20px */
$font-size-h6: 1.125rem;

/* 18px */
$font-size-normal: 1rem;

/* 16px */
$font-size-small: 0.875rem;

/* 14px */
